body{
    margin: 0;

}
.card{
    box-sizing: border-box;
    border: 2px solid grey;
    background-color: beige;
    margin: 50px;
    padding: 10px;
    display: flex;
}
.card > div{
    padding: 10px;
    width: 60%;
}
.card > img{
    width: 40%;
    height: auto;
}